<!doctype html>

<html>
  <head>
    <title>Clydesdale_Certificates</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styleCertificate.css') }}"
    />
  </head>

  <nav class="nav_">
    <h1 class="Logo_">CLYDESDALE CERTIFICATES</h1>
    <ul>
      <li>
        <a href="#Home_id" class="Home_class" onclick="showHome_()">Home</a>
      </li>
      <li><a href="#" onclick="showStudents_()">Student</a></li>
      <li>
        <a href="#Administrator_id" class="Admin_class" onclick="showAdmin_()"
          >Administrator</a
        >
      </li>
      <li>
        <a href="#About_id" class="About_class" onclick="showAbout_()">About</a>
      </li>
    </ul>
  </nav>

  <body>
    <script>
      const bgImageUrl = "{{ url_for('static', filename='images/photo.png') }}";
    </script>

    <script src="{{ url_for('static', filename='js/jsCertificates.js') }}"></script>

    <main>
      <section id="Home_id" class="Home_"></section>

      <section id="Students_id" class="Students_">
        <h1 class="h">Students page</h1>
        <form
          id="student_form"
          class="form_"
          action="/add_student"
          method="POST"
          autocomplete="off"
        >
          <label for="fname">Name:</label>
          <input
            type="text"
            class="name_"
            id="fname"
            name="Name"
            placeholder="Student Name"
            required
          />
          <br />

          <label for="Lname">Surname:</label>
          <input
            type="text"
            class="Surname_"
            id="Lname"
            name="Surname"
            placeholder="Student Surname"
            required
          />
          <br />

          <label for="Exam number">Exam number:</label>
          <input
            type="text"
            class="Examnumber_"
            id="Exam_number"
            name="Exam_number"
            placeholder="Exam Number"
            minlength="13"
            maxlength="13"
            required
          />
          <br />

          <label for="Date">Date</label>
          <input
            type="date"
            class="Date_"
            id="Date"
            name="Date"
            placeholder="Date collected"
            required
          />
          <br />

          <button onclick="clear_submit()" type="submit" class="sub_form_">
            Submit
          </button>
        </form>
      </section>

      <section id="About_id" class="About_">
       <section class="About_section_inside_about_image_and_H1">
       <img class="About_image" src="{{ url_for('static', filename='images/clybadge.png') }}" alt="School Badge">
       <h1 class="About_h1">CLYDESDALE SENIOR SEC SCHOOL</h1>
       </section>
        <p>
          It stands for Clydesdale Senior Secondary School — a public secondary
          school
        </p>
        <p>It’s located in Umzimkulu, KwaZulu‑Natal, South Africa.</p>
        <p>
          It’s classified as a public (no‑fee) school and serves high‑school
          learners.
        </p>
        <p>
          It's also known for producing high quality students that go on to
          study at top Universities in South Africa
        </p>
        <p>
          The school writes national exams, including matric (final year) exams,
          and results (like pass rate and number of learners) are published
          online for recent years.
        </p>
      </section>

      <section id="Administrator_id" class="Admin_page">
          <h1 class="Admin_h">Administrator</h1>
        <form
          id="search_students"
          class="form_Admin"
          action="/search_students"
          method="GET"
          autocomplete="off"
        >
          <label for="fname">Name:</label>
          <input
            type="text"
            class="name_"
            id="Admin_name"
            name="Name"
            placeholder="Student Name"
          />
          <button onclick="search_submit" type="submit" class="search_form_">
            Search
          </button>
          <br />
        </form>
        <table class="table_">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Surname</th>
            <th>Exam Number</th>
            <th>Date Collected</th>
          </tr>
          {% for student in students%}
          <tr>
            <td>{{student.ID}}</td>
            <td>{{student.Name}}</td>
            <td>{{student.Surname}}</td>
            <td>{{student.Exam_Number}}</td>
            <td>{{student.Date_Collected}}</td>
          </trs>
          {% endfor %}
        </table>
      </section>
    </main>
  </body>
</html>
